<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Home page</h1>


Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, qui! Quia doloremque inventore fugit veniam natus similique dolores impedit voluptatem deserunt tempora. Accusantium magni maxime natus doloribus consequuntur nam officia?

<% data.forEach(el => { %>
<h2><%=el.state %> </h2>
<h2><%=el.cases %> </h2>
<% }) %>
<h1><%= obj.firstName %> <%= obj.lastName %>  </h1>



</body>
</html>