<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>HOME PAGE</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat consequatur, at obcaecati, laborum natus eos ipsa quos aperiam incidunt eum deleniti aut odio enim. Minus cumque assumenda accusantium nulla quaerat.
</body>
</html>